@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200;
}

.main-body {
  @apply border-r-2;
  @apply border-opacity-50;
  @apply border-b-slate-400;
  @apply pr-8;
  @apply pt-4;
  flex: 2;
}

.skill-meter-container {
  transform: skewX(-30deg);
}

.skill-meter {
  height: 0.45rem;
  width: 1.5rem;
  margin-right: 0.3rem;
}